body {
    background-color: @oo-color-violet;
}

.oo-site-container {
    padding: @oo-gutter-md;
    max-width: @oo-site-max-width;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width:@oo-ipad-landscape-width) {
        padding: 60px;
    }
}

#oo-app, #oo-app-routs {
    margin-top:@oo-gutter-lg;
    padding: @oo-gutter-xs;
    border: 1px solid @oo-color-mint-light;
    width: 100%;
    min-height: 400px;
}

li + li {
    margin-top: @oo-gutter-xs
}

.oo-image {
    max-width: 100%;
    height: auto;
}