// Colors (http://www.colorcombos.com/color-schemes/7625/ColorCombo7625.html)

@oo-color-violet:#462066;
@oo-color-yellow-orange:#FFB85F;
@oo-color-red-orange: #FF7A5A;
@oo-color-pearl: #FCF4D9;
@oo-color-mint: #00AAA0;

// Gutter

@oo-gutter-xs: 5px;
@oo-gutter-sm: 10px;
@oo-gutter-md: 15px;
@oo-gutter-lg: 30px;

// Units

@oo-ipad-landscape-width: 1024px; 