<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Browserify ES5">
    <link rel="stylesheet" href="../bld/app.css">
    <title>Browserify ES5</title>
</head>

<body>
    <div class="oo-site-container">
        <h1>Browserify ES5</h1>
        <hr>
        <h2>Agenda</h2>
        <p>
            We check in console how Browserify converts CommonJS (used by Node) to regular JavaScript that browsers understand.
            Again, this is a great toutorial: <a href="https://egghead.io/lessons/nodejs-what-are-commonjs-modules">Egg Head, intro to JavaScript modules</a>
        </p>
        <p>
            We get nice embedded sourcemap with source files included here also.
        </p>
    </div>

    <script src="../bld/bundle-es5.js"></script>
</body>

</html>
