<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Browserify ES">
    <link rel="stylesheet" href="../bld/app.css">
    <title>Browserify ES</title>
</head>

<body>
    <h1>Browserify ES</h1>
    <hr>
    <h2>Agenda</h2>
    <p>
        We check in console how Browserify converts CommonJS (used by Node) to regular JavaScript that browsers understand.
        Again, this is a great toutorial: <a href="https://egghead.io/lessons/nodejs-what-are-commonjs-modules">Egg Head, intro to JavaScript modules</a>
    </p>
    

    <script src="../bld/bundle-es5.js"></script>
</body>

</html>
